// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Proxima Nova", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFF;
$darkGrey: #323232;
$darkGrey2: #333333;
$grey: #666666;
$grey2: #797979;
$grey3: #a1a1a1;
$Softgrey: #b7b7b7;
$Softgrey2: #e7e7e7;
$Softgrey3: #dfdfdf;
$Softgrey4: #eeeeee;
$BkGrey: #f1f1f1;

$yellow: #ffe600;
$red: #da6164;
$softRed: #efa7a8;
$violet: #ab86ff;
$violetDark: #8065cc;
$violetDark2: #6730bf;
$green: #02b4aa;

// Responsive Views
$mobile: 480px;
$tablet: 1023px;
$notebook: 1023px;
$desktop: 1440px;
$desktop-break: 1800;

