@import 'slick';
@import 'slick-theme';

$blue: rgba(23,20,97,1);
$light_blue: rgba(171,134,255,1);
$yellow: rgba(253,227,13,1);
.main-landing{
	background: $blue;
	.video{
		width: calc(100% - 30px);
		margin: 0 15px;
		height: auto;
		background: $blue;
		position: relative;

		

		.title-video{
			position: absolute;
			z-index: 2;
			left: 0;
			top: 18px;
			background: rgb(171,134,255);
			background: linear-gradient(225deg, rgba(171,134,255,0) 0%, rgba(171,134,255,0) 20%, rgba(171,134,255,1) 40%, rgba(171,134,255,1) 100%);
			display: flex;
    		align-items: center;
    		height: 69px;
			span{
			    color: #fff;
			    font-weight: bold;
			    font-size: 21px;
			    padding: 15px 150px 15px 28px;
			    text-transform: uppercase;
			    letter-spacing: 2.8px;
			}
		}
	}
	.icon-calendar{

	    width: 15px;
	    height: 15px;
	    position: relative;
	    float: left;
		&:before{
			content: url(../assets/images/icon-calendar.svg);
		}
	}
	.container{
		max-width: 1130px;
	    margin: 0 auto;
	}
	.row{
		position: relative;
		float: left;
		width: 100%;
	}

	.bg-gradient{
		background: $blue;
		background: linear-gradient(40deg, $light_blue 0%, $blue 100%);
	}

	.bg-blue{
		background: $blue;
	}

	.separate{
		position: relative;
		float: left;
		width: 100%;
		height: 12px;
		background-color: #ffe600;
		margin-top: 60px;
		margin-bottom: 60px;

		&.line-light{
			height: 2px;
		}
	}

	h1{
	    text-transform: uppercase;
	    color: #fff;
	    font-size: 81px;
	    letter-spacing: 7px;
	    line-height: 47px;
	    font-weight: 300 !important;
	}

	h2{
		text-transform: uppercase;
		color: $yellow;
		font-size: 34px;
	    letter-spacing: 7px;
	    line-height: 47px;
	}

	h3{
		text-transform: uppercase;
		color: $light_blue;
		font-size: 34px;
	    letter-spacing: 7px;
	    line-height: 47px;
	    font-weight: bold;
	}

	.alert-custom{
	    color: $yellow;
	    padding: 10px 0;
        font-size: 22px;
	}

	section{
		display: table;
		width: 100%;
		padding: 0 0 0 0;
		.centered-content{
			text-align: center;
			.ganadores-row{
				margin-top: 120px;
			}
		}
		&.counter{
			min-height: calc(100vh - 100px);
		    padding-bottom: 80px;
			.container{
				opacity: 0;
			}
			
			.logo{
			    width: 100%;
		        max-width: 704px;
    			margin: 79px auto 90px;
			}
			.faltan{
				font-size: 20px;
				color: $yellow;
				font-size: 46px;
			}

			.time-left{
				
			    margin: 24px auto 45px;
			    text-align: center;
			    width: 100%;
			    position: relative;
			    float: none;
			    letter-spacing: 21px;
		        display: flex;
			    max-width: 800px;
			    align-items: center;

			    .col-time{
			    	position: relative;
			    	display: block;
			    	width: 100%;
			    	.count{
			    		font-size: 120px;
			    		color: #fff;
			    		color: rgba(255,255,255,1);
			    		width: 100%;
			    		text-align: center;
			    		display: block;
			    	}
			    	.item{
			    		font-size: 20px;
			    		color: #fff;
			    		color: rgba(255,255,255,.6);
			    		width: 100%;
			    		text-align: center;
			    		letter-spacing: 14px;
			    	}
			    }
			}

			.btn-calendar{
			    margin: 60px auto 0;
				i{
					margin-right: 10px;
				}

				&:hover{
					border: none !important;
					background: rgba(253, 227, 13, .7) !important;
				}
			}
			.date-event{
			    margin: 71px 0 0;
				.date{
					color: $yellow;
				    font-size: 35px;
				    width: 100%;
				    text-transform: uppercase;
				    letter-spacing: 4px;
				    margin-bottom: 5px;

					b{
						font-weight: bold;
						text-transform: uppercase;
					}
				}
				.countries{
					color: #fff;
				    font-size: 22px;
				    text-transform: uppercase;
				    letter-spacing: 2px;
				    line-height: 33px;
				    b{
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}
		}

		&.normal{
			p{
				color: #fff;
				font-size: 27px;

				b{
					color: $light_blue;
				    font-weight: bold;
				}
			}

			h1{
			    margin-bottom: 72px;
			}

			h2{
			    margin-bottom: 27px;
			}

			&.last{
				padding-bottom: 80px;
			}
		}

		.text-section{
			margin-top: 51px;
		    margin-bottom: 82px;
			p{
		        margin-bottom: 38px;
    			line-height: 36px;
			}
		}
		.title-section{
			h2{
				margin-bottom: 10px;
			}
			p{
				font-weight: 300;
				padding: 0px 100px;
				margin-bottom: 38px;
				font-size: 22px;
			}
		}
	}

	.slide-mp{
		.slide{
			
			.col-info{
				position: relative;
				float: left;
				width: 33%;
			}
			.content-logo{
				position: relative;
			    float: left;
			    width: 100%;
			    display: flex;
			    align-items: center;
			    height: 237px;
				img{
					width: 100%;
				    max-width: 285px;
				    margin: 0 auto;
				}
			}
		
			.content-text{
			    position: relative;
    			float: left;
    			width: 100%;
				.text-01{
					position: relative;
				    float: left;
				    text-align: center;
				    color: $light_blue;
				    width: 100%;
				    font-size: 28px;
				    margin: 9px 0 36px;
    				letter-spacing: 3px;
    				text-transform: uppercase;
				}
				.text-02{
					position: relative;
					float: left;
					text-align: center;
					width: 100%;
					font-size: 23px;
					color: #fff;
					font-weight: bold;
				    line-height: 32px;
				    text-transform: uppercase;
				    margin-bottom: 25px;
				}
			}

			
		}

		&.ganadores-slide{
		    margin-bottom: 30px;
			.slide{
				.col-info{
					width: 100%;
				}
				.content-text{
					.text-01{
					    font-size: 28px;
   	 					margin: 9px 0 29px;
					}
					.text-02{
					    font-size: 42px;
    					letter-spacing: 4px;
					}
				}
				
			}
			.slick-dots {
			    bottom: -59px !important;
			}
		}
	}

	.slick-next:before {
	    content:url(../assets/images/arrow-slide.png);
	}
	.slick-prev {
	    transform: rotate(180deg);
	}
	.slick-prev:before {
	    content:url(../assets/images/arrow-slide.png);
	}
}
.slick-dotted.slick-slider {
    margin-bottom: 51px;
}

.slick-dots {
	bottom: -25px;
	li{
		width: 37px;
		height: 4px;
		
		button{
			width: 100%;
			height: 100%;
			background: #fff;
			padding: 0;
		}

		&.slick-active{
			button{
				background: $yellow;
			}
		}
	}
}

@media screen and (max-height: 800px) and (min-width: 1024px) {
	.main-landing{
		section{
			&.counter{
				.logo{
				    width: 100%;
			        max-width: 600px;
	    			margin: 45px auto 45px;
				}
			}
		}
	}
}



@media screen and (max-width: 1180px) {
	.main-landing{
		.slide-mp{
			max-width: 900px;
			margin: 0 auto 51px;

			.slide{
			
				.content-logo{
				    height: 200px;
					img{
					    max-width: 175px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {

	.main-landing{
		h1{
			font-size: 42px;
			letter-spacing: 2px;
		}
		h2{
			font-size: 20px;
    		letter-spacing: 3px;
    		line-height: 27px;
		}

		.alert-custom{
	        font-size: 18px;
		}

		.container{
			padding: 0 5px;
		}
		.btn-calendar{
			max-width: 340px;
			font-size: 15px;
			min-width: auto;
		}
		section{
			
			.text-section {
			    margin-bottom: 30px;
				p{
					font-size: 20px;
					line-height: 27px;
				}
			}
			.title-section {
				p{
					font-size: 20px;
					line-height: 27px;
				}
			}
		}
		.slide-mp{
			max-width: 740px;
			.slide{
			
				.content-logo{
				    height: 200px;
					
				}
			
				.content-text{
					.text-01{
					    font-size: 25px;
					    margin: 9px 0 36px;
	    				letter-spacing: 3px;
					}
					.text-02{
						font-size: 23px;
					    line-height: 32px;
					}
				}
			}

			&.ganadores-slide{
				.slide{
					.content-text{
						.text-01{
						    font-size: 25px;
	   	 					margin: 9px 0 29px;
						}
						.text-02{
						    font-size: 25px;
	    					letter-spacing: 4px;
						}
					}
					
				}
				.slick-dots {
				    bottom: -59px !important;
				}
			}
		}
	} 
}

@media screen and (max-width: 768px) {
	.main-landing{
		.alert-custom{
			padding: 10px 10px;
            line-height: 22px;
		}
		section{
			&.counter{
				.date-event{
					.date{
						font-size: 22px;
					}

					.countries{
						font-size: 16px;
						letter-spacing: 2px;
					    line-height: 28px;
					}
				}
				.logo{
				    width: 90%;
				    max-width: 550px;
				    margin: 45px auto 45px;
				}
				.time-left {
					width: 80%;
					margin: 15px auto 30px;

					.col-time{
						.count{
							font-size: 75px;
							letter-spacing: 0px;
						}

						.item{
							font-size: 12px;
							letter-spacing: 2px;
						}
					} 
				}
			}
		}
		.slide-mp{
			max-width: 600px;
			.slide{
			
				.content-logo{
				   
					img{
					   
					}
				}
			}
		}
	}
}
@media screen and (max-width: 640px) {
	.main-landing{
		.video{
			height: auto !important;
			.title-video{
				width: 100%;
				height: 45px;
				span{
					font-size: 12px;
					letter-spacing: 2px;
					padding: 3px 15px 0;
				}
			}

			
		}
		section{
			&.counter{
			    min-height: auto;
				.date-event{
					.date{
						font-size: 22px;
					}

					.countries{
						font-size: 16px;
						letter-spacing: 2px;
					    line-height: 28px;
					}
				}
				.logo{
				    width: 90%;
				    max-width: 450px;
				    margin: 45px auto 45px;
				}
				.time-left {
					width: 90%;
					.col-time{
						.count{
							font-size: 50px;
							letter-spacing: 0px;
						}

						.item{
							font-size: 12px;
							letter-spacing: 2px;
						}
					} 
				}
			}
		}
		.slide-mp{
			max-width: 300px;
			.slide{
			
				.content-logo{
				   
					img{
					   
					}
				}
			}
		}
	}
}
@media screen and (max-width: 320px) {

}